gitRepo:
  uri: https://github.com/mosip/mosip-config
  version: es-qa
  ## Folders within the base repo where properties may be found.
  searchFolders: ""
  private: false
  ## User name of user who has access to the private repo. Ignore for public repo
  username: ""
  token: ""

envVariables:
  - name: SPRING_CLOUD_CONFIG_SERVER_OVERRIDES_DB_DBUSER_PASSWORD
    valueFrom:
      secretKeyRef:
        name: db-common-secrets
        key: db-dbuser-password
    enabled: true

  - name: SPRING_CLOUD_CONFIG_SERVER_OVERRIDES_MOSIP_API_PUBLIC_HOST
    valueFrom:
      configMapKeyRef:
        name: esignet-global
        key: mosip-api-host
    enabled: true

  - name: SPRING_CLOUD_CONFIG_SERVER_OVERRIDES_MOSIP_API_INTERNAL_HOST
    valueFrom:
      configMapKeyRef:
        name: esignet-global
        key: mosip-api-internal-host
    enabled: true

  - name: SPRING_CLOUD_CONFIG_SERVER_OVERRIDES_KEYCLOAK_INTERNAL_URL
    valueFrom:
      configMapKeyRef:
        name: keycloak-host
        key: keycloak-internal-url
    enabled: true

  - name: SPRING_CLOUD_CONFIG_SERVER_OVERRIDES_KEYCLOAK_EXTERNAL_URL
    valueFrom:
      configMapKeyRef:
        name: keycloak-host
        key: keycloak-external-url
    enabled: true

  - name: SPRING_CLOUD_CONFIG_SERVER_OVERRIDES_KEYCLOAK_INTERNAL_HOST
    valueFrom:
      configMapKeyRef:
        name: keycloak-host
        key: keycloak-internal-host
    enabled: true

  - name: SPRING_CLOUD_CONFIG_SERVER_OVERRIDES_KEYCLOAK_EXTERNAL_HOST
    valueFrom:
      configMapKeyRef:
        name: keycloak-host
        key: keycloak-external-host
    enabled: true

  - name: SPRING_CLOUD_CONFIG_SERVER_OVERRIDES_KEYCLOAK_ADMIN_PASSWORD
    valueFrom:
      secretKeyRef:
        name: keycloak
        key: admin-password
    enabled: true

  - name: SPRING_CLOUD_CONFIG_SERVER_OVERRIDES_MPARTNER_DEFAULT_AUTH_SECRET
    valueFrom:
      secretKeyRef:
        name: keycloak-client-secrets
        key: mpartner_default_auth_secret
    enabled: true

  - name: SPRING_CLOUD_CONFIG_SERVER_OVERRIDES_MOSIP_PMS_CLIENT_SECRET
    valueFrom:
      secretKeyRef:
        key: mosip_pms_client_secret
        name: keycloak-client-secrets
    enabled: true

  - name: SPRING_CLOUD_CONFIG_SERVER_OVERRIDES_MOSIP_IDA_CLIENT_SECRET
    valueFrom:
      secretKeyRef:
        key: mosip_ida_client_secret
        name: keycloak-client-secrets
    enabled: true

  - name: SPRING_CLOUD_CONFIG_SERVER_OVERRIDES_MOSIP_AUTH_CLIENT_SECRET
    valueFrom:
      secretKeyRef:
        key: mosip_auth_client_secret
        name: keycloak-client-secrets
    enabled: true

  - name: SPRING_CLOUD_CONFIG_SERVER_OVERRIDES_MOSIP_ADMIN_CLIENT_SECRET
    valueFrom:
      secretKeyRef:
        key: mosip_admin_client_secret
        name: keycloak-client-secrets
    enabled: true

  - name: SPRING_CLOUD_CONFIG_SERVER_OVERRIDES_MOSIP_PREREG_CLIENT_SECRET
    valueFrom:
      secretKeyRef:
        key: mosip_prereg_client_secret
        name: keycloak-client-secrets
    enabled: true

  - name: SPRING_CLOUD_CONFIG_SERVER_OVERRIDES_SMTP_HOST
    valueFrom:
      configMapKeyRef:
        name: msg-gateway
        key: smtp-host
    enabled: true

  - name: SPRING_CLOUD_CONFIG_SERVER_OVERRIDES_SMS_HOST
    valueFrom:
      configMapKeyRef:
        name: msg-gateway
        key: sms-host
    enabled: true

  - name: SPRING_CLOUD_CONFIG_SERVER_OVERRIDES_SMTP_PORT
    valueFrom:
      configMapKeyRef:
        name: msg-gateway
        key: smtp-port
    enabled: true

  - name: SPRING_CLOUD_CONFIG_SERVER_OVERRIDES_SMS_PORT
    valueFrom:
      configMapKeyRef:
        name: msg-gateway
        key: sms-port
    enabled: true

  - name: SPRING_CLOUD_CONFIG_SERVER_OVERRIDES_SMTP_USERNAME
    valueFrom:
      configMapKeyRef:
        name: msg-gateway
        key: smtp-username
    enabled: true

  - name: SPRING_CLOUD_CONFIG_SERVER_OVERRIDES_SMS_USERNAME
    valueFrom:
      configMapKeyRef:
        name: msg-gateway
        key: sms-username
    enabled: true

  - name: SPRING_CLOUD_CONFIG_SERVER_OVERRIDES_SMTP_SECRET
    valueFrom:
      secretKeyRef:
        name: msg-gateway
        key: smtp-secret
    enabled: true

  - name: SPRING_CLOUD_CONFIG_SERVER_OVERRIDES_SMS_AUTHKEY
    valueFrom:
      secretKeyRef:
        name: msg-gateway
        key: sms-authkey
    enabled: true

  - name: SPRING_CLOUD_CONFIG_SERVER_OVERRIDES_SMS_SECRET
    valueFrom:
      secretKeyRef:
        name: msg-gateway
        key: sms-secret
    enabled: true

  - name: SPRING_CLOUD_CONFIG_SERVER_OVERRIDES_MOSIP_SIGNUP_HOST
    valueFrom:
      configMapKeyRef:
        key: mosip-signup-host
        name: esignet-global
    enabled: true