@tailwind base;
@tailwind components;
@tailwind utilities;
@import "@fontsource-variable/inter";
@import "@fontsource-variable/kantumruy-pro";

body {
  background: var(--background-body) 0% 0% no-repeat padding-box;
}

.language-icon-color {
  fill: var(--language-icon-color);
}

.language-icon-bg-color {
  fill: var(--language-icon-bg-color);
}

.brand-logo {
  content: var(--brand-logo-url);
  height: 40px;
}

.brand-only-logo {
  content: var(--brand-only-logo-url);
}

.footer-brand-logo {
  content: var(--footer-brand-logo-url);
  height: 25px;
}

.section-background {
  background: var(--signup-background);
  background-size: cover;
}

.section-background .top_left_bg_logo,
.section-background .top_right_bg_logo,
.section-background .bottom_right_bg_logo,
.section-background .bottom_left_bg_logo {
  width: var(--side-section-bg-with);
}

.section-background .top_left_bg_logo {
  display: var(--top-left-bg-logo-display);
  content: var(--top-left-bg-logo-url);
}

.section-background .top_right_bg_logo {
  display: var(--top-right-bg-logo-display);
  content: var(--top-right-bg-logo-url);
}

.section-background .bottom_right_bg_logo {
  display: var(--bottom-right-bg-logo-display);
  content: var(--bottom-right-bg-logo-url);
}

.section-background .bottom_left_bg_logo {
  display: var(--bottom-left-bg-logo-display);
  content: var(--bottom-left-bg-logo-url);
}

.verticalStepper {
  padding: 0 !important;
}

.verticalStepper .middleStepConnector {
  background-color: var(--vertical-stepper-bg-color) !important;
  opacity: var(--vertical-stepper-bg-opacity);
  width: 1.5px;
}

.verticalStepper .stepConnector {
  background-color: var(--vertical-stepper-bg-color) !important;
  opacity: var(--vertical-stepper-bg-opacity);
}

.verticalContentWrapper .description {
  position: relative;
  bottom: 1em;
  left: 0.9em;
  font-size: 1em;
  font: var(--vertical-stepper-description-font);
  margin-right: 1.25rem;
  text-align: left;
  overflow-wrap: anywhere;
}

.verticalStepper .descriptionContainer {
  display: -webkit-box !important;
}

.verticalLabelRight .label {
  padding-left: 0.5em;
  font: var(--vertical-stepper-label-font);
  text-align: left;
  overflow-wrap: anywhere;
}

#stepper-node {
  background: var(--vertical-stepper-node-bg);
  opacity: 1;
}

.cancel_btn, .cancel_btn:hover {
  border: var(--cancel-button-border);
  border-radius: var(--cancel-button-border-radius);
  background: none;
  color: var(--cancel-button-color) !important;
}

@media screen and (max-width: 640px) {
  .section-background .top_left_bg_logo,
  .section-background .top_right_bg_logo,
  .section-background .bottom_right_bg_logo,
  .section-background .bottom_left_bg_logo {
    display: none;
  }
}

.footer-container {
  padding-top: var(--footer-padding-top);
  padding-bottom: var(--footer-padding-bottom);
  color: var(--footer-text-color);
  font-size: var(--footer-text-size);
  background-color: var(--footer-bg-color);
}

.scrollable-div {
  scroll-behavior: smooth;
  overflow-y: auto;
  height: 300px;
  -ms-overflow-style: none;
}

.scrollable-div::-webkit-scrollbar {
  width: 6px;
}

.scrollable-div::-webkit-scrollbar-track {
  background-color: transparent;
}

.scrollable-div::-webkit-scrollbar-thumb {
  background-color: #d5d5d5;
  border-radius: 8px;
}

.scrollable-div::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}

/* Check mark box in top right corner */
.check-box {
  display: inline-block;
  position: relative;
}

.check-box::after {
  content: url("assets/svg/check_white.svg");
  background: #EB6F2D;
  position: absolute;
  top: 0;
  right: 0;
  padding: 4px 6px;
  border-radius: 0px 5px 0px 8px;
  border-style: solid;
  border-color: #EB6F2D;

}

@media (min-width: 768px) {
  /* corner border around video preview */
  .corner-border {
    --s: 40px; /* the size on the corner */
    --t: 5px; /* the thickness of the border */
    --g: 10px; /* the gap between the border and image */
  
    padding: calc(var(--g) + var(--t));
    outline: var(--t) solid var(--video-preview-border-color); /* the color here */
    outline-offset: calc(-1 * var(--t));
    border-radius: 15px;
  
    /* for chrome browser */
    -webkit-mask:
      conic-gradient(at var(--s) var(--s), #0000 75%, #000 0) 0 0 /
        calc(100% - var(--s)) calc(100% - var(--s)),
      linear-gradient(#000 0 0) content-box;
  
    /* for firefox browser */
    mask:
      conic-gradient(at var(--s) var(--s), #0000 75%, #000 0) 0 0 /
        calc(100% - var(--s)) calc(100% - var(--s)),
      linear-gradient(#000 0 0) content-box;
    transition: .4s;
  }
}

@layer base {
  :root {
    --font-inter: "Inter";
    --font-kantumruypro: "Kantumruy Pro Variable";

    --background: var(--background-color);
    --foreground: var(--foreground-color);

    --muted: var(--primary-muted);
    --muted-foreground: var(--primary-muted-foreground);
    --muted-neutral-gray: var(--primary-muted-neutral-gray);
    --muted-dark-gray: var(--primary-muted-dark-gray);
    --muted-light-gray: var(--primary-muted-light-gray);

    --popover: var(--primary-popover);
    --popover-foreground: var(--primary-popover-foreground);

    --border: var(--primary-border);
    --input: var(--primary-input);

    --card: var(--primary-card);
    --card-foreground: var(--primary-card-foreground);

    --step: var(--primary-step);
    --step-foreground: var(--primary-step-foreground);

    --primary: var(--primary-color);
    --primary-foreground: var(--primary-foreground-color);

    --secondary: var(--secondary-color);
    --secondary-foreground: var(--secondary-foreground-color);

    --accent: var(--accent-color);
    --accent-foreground: var(--accent-foreground-color);

    --destructive: var(--destructive-color);
    --destructive-foreground: var(--destructive-foreground-color);

    --alert: var(--alert-color);

    --ring: var(--ring-color);

    --radius: var(--radius-font-size);
  }

  .dark {
    --background: var(--background-color);
    --foreground: var(--foreground-color);

    --muted: var(--primary-muted);
    --muted-foreground: var(--primary-muted-foreground);

    --accent: var(--accent-color);
    --accent-foreground: var(--accent-foreground-color);

    --popover: var(--primary-popover);
    --popover-foreground: var(--primary-popover-foreground);

    --border: var(--primary-border);
    --input: var(--primary-input);

    --card: var(--primary-card);
    --card-foreground: var(--primary-card-foreground);

    --primary: var(--primary-color);
    --primary-foreground: var(--primary-foreground-color);

    --secondary: var(--secondary-color);
    --secondary-foreground: var(--secondary-foreground-color);

    --destructive: var(--destructive-color);
    --destructive-foreground: var(--destructive-foreground-color);

    --alert: var(--alert-color);

    --ring: var(--ring-color);

    --radius: var(--radius-font-size);
  }

  [class="blue"] {
    --font-inter: var(--font-inter);
    --font-kantumruypro: var(--font-kantumruypro);

    --background: var(--background-color);
    --foreground: var(--foreground-color);

    --muted: var(--primary-muted);
    --muted-foreground: var(--primary-muted-foreground);
    --muted-neutral-gray: var(--primary-muted-neutral-gray);
    --muted-dark-gray: var(--primary-muted-dark-gray);
    --muted-light-gray: var(--primary-muted-light-gray);

    --popover: var(--primary-popover);
    --popover-foreground: var(--primary-popover-foreground);

    --border: var(--primary-border);
    --input: var(--primary-input);

    --card: var(--primary-card);
    --card-foreground: var(--primary-card-foreground);

    --step: var(--primary-step);
    --step-foreground: var(--primary-step-foreground);

    --primary: var(--primary-color);
    --primary-foreground: var(--primary-foreground-color);

    --secondary: var(--secondary-color);
    --secondary-foreground: var(--secondary-foreground-color);

    --accent: var(--accent-color);
    --accent-foreground: var(--accent-foreground-color);

    --destructive: var(--destructive-color);
    --destructive-foreground: var(--destructive-foreground-color);

    --alert: var(--alert-color);

    --ring: var(--ring-color);

    --radius: var(--radius-font-size);
  }
}
