@tailwind base;
@tailwind components;
@tailwind utilities;
@import "@fontsource-variable/inter";
@import "@fontsource-variable/kantumruy-pro";

body {
  background: var(--background-body) 0% 0% no-repeat padding-box;
}

@layer base {
  :root {
    --font-inter: "Inter";
    --font-kantumruypro: "Kantumruy Pro Variable";

    --background: var(--background-color);
    --foreground: var(--foreground-color);

    --muted: var(--primary-muted);
    --muted-foreground: var(--primary-muted-foreground);
    --muted-neutral-gray: var(--primary-muted-neutral-gray);
    --muted-dark-gray: var(--primary-muted-neutral-gray);
    --muted-light-gray: var(--primary-muted-neutral-gray);

    --popover: var(--primary-popover);
    --popover-foreground: var(--primary-popover-foreground);

    --border: var(--primary-border);
    --input: var(--primary-input);

    --card: var(--primary-card);
    --card-foreground: var(--primary-card-foreground);

    --step: var(--primary-step);
    --step-foreground: var(--primary-step-foreground);

    --primary: var(--primary-color);
    --primary-foreground: var(--primary-foreground-color);

    --secondary: var(--secondary-color);
    --secondary-foreground: var(--secondary-foreground-color);

    --accent: var(--accent-color);
    --accent-foreground: var(--accent-foreground-color);

    --destructive: var(--destructive-color);
    --destructive-foreground: var(--destructive-foreground-color);

    --ring: var(--ring-color);

    --radius: var(--radius-font-size);
  }

  .dark {
    --background: var(--background-color);
    --foreground: var(--foreground-color);

    --muted: var(--primary-muted);
    --muted-foreground: var(--primary-muted-foreground);

    --accent: var(--accent-color);
    --accent-foreground: var(--accent-foreground-color);

    --popover: var(--primary-popover);
    --popover-foreground: var(--primary-popover-foreground);

    --border: var(--primary-border);
    --input: var(--primary-input);

    --card: var(--primary-card);
    --card-foreground: var(--primary-card-foreground);

    --primary: var(--primary-color);
    --primary-foreground: var(--primary-foreground-color);

    --secondary: var(--secondary-color);
    --secondary-foreground: var(--secondary-foreground-color);

    --destructive: var(--destructive-color);
    --destructive-foreground: var(--destructive-foreground-color);

    --ring: var(--ring-color);

    --radius: var(--radius-font-size);
  }
}