:root {
  --background-body:  #f7f9fd;
  --background-color:  200 60% 98%;

  --foreground-color:  222.2 47.4% 11.2%;
  --primary-muted: 0 0% 80%;

  --primary-muted-foreground: 204 10% 10%;
  --primary-muted-neutral-gray: 0 0% 51%;
  --primary-muted-dark-gray: 0 0% 29%;
  --primary-muted-light-gray: 0 0% 95%;

  --primary-popover: 0 0% 100%;
  --primary-popover-foreground: 222.2 47.4% 11.2%;

  --primary-border: 214.3 31.8% 91.4%;
  --primary-input: 0 0% 44%;

  --primary-card: 0 0% 100%;
  --primary-card-foreground: 222.2 47.4% 11.2%;
  --primary-step: 0 0% 100%;
  --primary-step-foreground: 222.2 47.4% 11.2%;

  --primary-color: 21 83% 55%;
  --primary-foreground-color: 0 0% 100%;

  --secondary-color: 210 40% 96.1%;
  --secondary-foreground-color: 222.2 47.4% 11.2%;

  --accent-color: 0 0% 100%;
  --accent-foreground-color: 222.2 47.4% 11.2%;

  --destructive-color: 0 68% 50%;
  --destructive-foreground-color: 0 52% 96%;

  --ring-color: 215 20.2% 65.1%;

  --radius-font-size: 0.5rem;
}

[class="dark"] {
  --background-color: 224 71% 4%;
  --foreground-color: 213 31% 91%;

  --primary-muted: 223 47% 11%;
  --primary-muted-foreground: 215.4 16.3% 56.9%;

  --accent-color: 216 34% 17%;
  --accent-foreground-color: 210 40% 98%;

  --primary-popover: 224 71% 4%;
  --primary-popover-foreground: 215 20.2% 65.1%;

  --primary-border: 216 34% 17%;
  --primary-input: 216 34% 17%;

  --primary-card: 224 71% 4%;
  --primary-card-foreground: 213 31% 91%;

  --primary-color: 210 40% 98%;
  --primary-foreground-color: 222.2 47.4% 1.2%;

  --secondary-color: 222.2 47.4% 11.2%;
  --secondary-foreground-color: 210 40% 98%;

  --destructive-color: 0 63% 31%;
  --destructive-foreground-color: 210 40% 98%;

  --ring-color: 216 34% 17%;

  --radius-font-size: 0.5rem;
}