:root {
  --font-inter: "Inter";
  --font-kantumruypro: "Kantumruy Pro Variable";
  --background-body:  #f7f9fd;
  --background-color:  200 60% 98%;
  --foreground-color:  222.2 47.4% 11.2%;

  --language-icon-color: #ffffff;
  --language-icon-bg-color: #eb6f2d;
  --brand-only-logo-url: url("/logo.png");
  --brand-logo-url: url("/images/brand_logo.png");

  --signup-background: #f7f9fd;
  --side-section-bg-with: 225px;
  --top-left-bg-logo-url: url("/images/top.png");
  --top-left-bg-logo-display: block;
  --bottom-left-bg-logo-url: url("/images/bg_bottom_left.png");
  --bottom-left-bg-logo-display: none;
  --top-right-bg-logo-url: url("/images/bg_bottom_left.png");
  --top-right-bg-logo-display: none;
  --bottom-right-bg-logo-url: url("/images/bottom.png");
  --bottom-right-bg-logo-display: block;

  --footer-brand-logo-url: url("/images/footer_logo.png");
  --footer-text-color: #898989;
  --footer-text-size: 14px;
  --footer-bg-color: #ffffff;
  --footer-padding-top: 15px;
  --footer-padding-bottom: 15px;

  --primary-muted: 0 0% 80%;
  --primary-muted-foreground: 204 10% 10%;
  --primary-muted-neutral-gray: 0 0% 51%;
  --primary-muted-dark-gray: 0 0% 29%;
  --primary-muted-light-gray: 0 0% 95%;

  --primary-popover: 0 0% 100%;
  --primary-popover-foreground: 222.2 47.4% 11.2%;

  --primary-border: 214.3 31.8% 91.4%;
  --primary-input: 0 0% 44%;

  --primary-card: 0 0% 100%;
  --primary-card-foreground: 222.2 47.4% 11.2%;
  --primary-step: 0 0% 100%;
  --primary-step-foreground: 222.2 47.4% 11.2%;

  --primary-color: 21 83% 55%;
  --primary-foreground-color: 0 0% 100%;

  --secondary-color: 210 40% 96.1%;
  --secondary-foreground-color: 222.2 47.4% 11.2%;

  --accent-color: 0 0% 100%;
  --accent-foreground-color: 222.2 47.4% 11.2%;

  --destructive-color: 0 68% 50%;
  --destructive-foreground-color: 0 52% 96%;

  --alert-color: 36 100% 97%;

  --ring-color: 215 20.2% 65.1%;

  --radius-font-size: 0.5rem;
  --video-preview-border-color: #eb6f2d;

  --vertical-stepper-bg-color: #eb6f2d;
  --vertical-stepper-bg-opacity: 0.55;
  --vertical-stepper-description-font: normal normal normal 14px/17px Inter;
  --vertical-stepper-label-font: normal normal 600 16px/20px Inter;
  --vertical-stepper-node-bg: #eb6f2d;

  --cancel-button-border: 2px solid #eb6f2d;
  --cancel-button-border-radius: 8px;
  --cancel-button-color: #eb6f2d;
}

[class="dark"] {
  --background-color: 224 71% 4%;
  --foreground-color: 213 31% 91%;

  --primary-muted: 223 47% 11%;
  --primary-muted-foreground: 215.4 16.3% 56.9%;

  --accent-color: 216 34% 17%;
  --accent-foreground-color: 210 40% 98%;

  --primary-popover: 224 71% 4%;
  --primary-popover-foreground: 215 20.2% 65.1%;

  --primary-border: 216 34% 17%;
  --primary-input: 216 34% 17%;

  --primary-card: 224 71% 4%;
  --primary-card-foreground: 213 31% 91%;

  --primary-color: 210 40% 98%;
  --primary-foreground-color: 222.2 47.4% 1.2%;

  --secondary-color: 222.2 47.4% 11.2%;
  --secondary-foreground-color: 210 40% 98%;

  --destructive-color: 0 63% 31%;
  --destructive-foreground-color: 210 40% 98%;

  --alert-color: 36 100% 97%;

  --ring-color: 216 34% 17%;

  --radius-font-size: 0.5rem;
}

[class="blue"] {
  --font-inter: "Inter";
  --font-kantumruypro: "Kantumruy Pro Variable";
  --background-body: #f7f9fd;
  --background-color: 200 60% 98%;
  --foreground-color: 222.2 47.4% 11.2%;

  --language-icon-color: #ffffff;
  --language-icon-bg-color: #004282;
  --brand-only-logo-url: url("/logo.png");
  --brand-logo-url: url("/images/brand_logo.png");

  --signup-background: url("/images/section-bg.png") no-repeat;
  --side-section-bg-with: 320px;
  --top-left-bg-logo-url: url("/images/top.png");
  --top-left-bg-logo-display: none;
  --bottom-left-bg-logo-url: url("/images/bg_bottom_left.png");
  --bottom-left-bg-logo-display: block;
  --top-right-bg-logo-url: url("/images/bg_bottom_left.png");
  --top-right-bg-logo-display: none;
  --bottom-right-bg-logo-url: url("/images/bottom.png");
  --bottom-right-bg-logo-display: none;

  --footer-brand-logo-url: url("/images/footer_logo.png");
  --footer-text-color: #ffffff;
  --footer-text-size: 14px;
  --footer-bg-color: #004282;
  --footer-padding-top: 15px;
  --footer-padding-bottom: 15px;

  --primary-muted: 0 0% 80%;
  --primary-muted-foreground: 204 10% 10%;
  --primary-muted-neutral-gray: 0 0% 51%;
  --primary-muted-dark-gray: 0 0% 29%;
  --primary-muted-light-gray: 0 0% 95%;

  --primary-popover: 0 0% 100%;
  --primary-popover-foreground: 222.2 47.4% 11.2%;

  --primary-border: 214.3 31.8% 91.4%;
  --primary-input: 0 0% 44%;

  --primary-card: 0 0% 100%;
  --primary-card-foreground: 222.2 47.4% 11.2%;
  --primary-step: 0 0% 100%;
  --primary-step-foreground: 222.2 47.4% 11.2%;

  --primary-color: 210 100% 25%;
  --primary-foreground-color: 0 0% 100%;

  --secondary-color: 210 40% 96.1%;
  --secondary-foreground-color: 222.2 47.4% 11.2%;

  --accent-color: 0 0% 100%;
  --accent-foreground-color: 222.2 47.4% 11.2%;

  --destructive-color: 0 68% 50%;
  --destructive-foreground-color: 0 52% 96%;

  --alert-color: 36 100% 97%;

  --ring-color: 215 20.2% 65.1%;

  --radius-font-size: 0.5rem;

  --vertical-stepper-bg-color: #004282;
  --vertical-stepper-bg-opacity: 0.55;
  --vertical-stepper-description-font: normal normal normal 14px/17px Inter;
  --vertical-stepper-label-font: normal normal 600 16px/20px Inter;
  --vertical-stepper-node-bg: #004282;

  --cancel-button-border: 2px solid #004282;
  --cancel-button-border-radius: 8px;
  --cancel-button-color: #004282;
}
